.contactbtn {
  box-sizing: border-box;
  color: white;
  position: absolute;
  width: 142px;
  height: 57px;
  left: 172px;
  z-index: 999;
  top: 435px;
  font-weight: 600;
  font-size: 16px;
  background: linear-gradient(
    281.69deg,
    rgba(153, 69, 255, 0.1452) 1.41%,
    rgba(51, 207, 192, 0.33) 110.34%
  );
  backdrop-filter: blur(4.5px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 16px;
}
.contactbtn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  padding: 1px; /* control the border thickness */
  background: linear-gradient(90deg, #33cfc0 0%, #9945ff 20%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  opacity: 30%;
  mask-composite: exclude;
  pointer-events: none;
}
.contactbtn:hover {
  animation-name: herobtnhover;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}
.accesbtn {
  box-sizing: border-box;
  color: white;
  position: absolute;
  width: 142px;
  height: 57px;
  left: 0;
  z-index: 999;
  top: 435px;
  font-weight: 600;
  font-size: 16px;
  background: linear-gradient(
    281.69deg,
    rgba(121, 64, 239, 0.08) 1.41%,
    rgba(255, 255, 255, 0.08) 110.34%
  );
  backdrop-filter: blur(8px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 16px;
}
.accesbtn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  padding: 1px; /* control the border thickness */
  background: linear-gradient(90deg, #ffffff 0%, #7940ef 8%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 30%;
  pointer-events: none;
}
.playbtn {

  position: absolute;
  left: 84.3%;
  display: flex;
  top:35px;
  justify-content: center;
  align-items: center;
}
.playbg {
  box-sizing: border-box;
  color: white;
  position: absolute;
  z-index: 50;
  top: 315px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  width: 80px;
  height: 80px;
  opacity: 70%;
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 50px;
  background: linear-gradient(118.43deg, #2f2175 0%, #7b48ed 74.17%);
}
.playbg::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  padding: 1px; /* control the border thickness */
  background: linear-gradient(90deg, #28174d, #9d89fc);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 30%;
  pointer-events: none;
}
.aroundplay {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  top: 305.5px;
  right: -3.15rem;
  position: absolute;
  animation: pulse 2.5s infinite linear forwards;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.577);
  opacity: 70%;
  filter: drop-shadow(0px 0px 8px #8d72d9);
}
.aroundplay::before {
  content: "";
  position: absolute;

  inset: 0;
  border-radius: 100px;
  padding: 1px; /* control the border thickness */
  background: linear-gradient(90deg, #28174d, #9d89fc);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 50%;
  filter: drop-shadow(0px 0px 8px #8d72d9);
  pointer-events: none;
}
.animinterior {
  position: absolute;
  z-index: 1;
  top: 315.5px;
  border-radius: 100px;
  width: 78px;
  height: 78px;
  opacity: 30%;
  animation: pulsebg 2.5s infinite linear forwards;
}
@keyframes herobtnhover {
  from {
    background: linear-gradient(
      281.69deg,
      rgba(153, 69, 255, 0.1452) 2.41%,
      rgba(51, 207, 192, 0.33) 110.34%
    );
  }

  to {
    background: linear-gradient(
      281.69deg,
      rgba(153, 69, 255, 0.1452) 20.41%,
      rgba(51, 207, 192, 0.33) 110.34%
    );
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.1);
  }
}
@keyframes pulsebg {
  0% {
    transform: scale(0.25);
    background-color: #9d89fc;
  }
  60% {
    transform: scale(0.9);
    background-color: #7b48ed;
  }
  100% {
    transform: scale(0.25);
    background-color: #9d89fc;
  }
}
