.title {
  font-size: 76px;
  background: linear-gradient(
    90deg,
    rgba(153, 69, 255, 1) 0%,
    rgba(114, 115, 220, 1) 54%,
    rgba(23, 221, 138, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  letter-spacing: -0.04em;
  text-fill-color: transparent;
  font-weight: 600;
  line-height: 70px;
  width: 50px;
  height: 358px;
  width: 70rem;
}

@media only screen and (max-width: 1536px) {
  .title {
    font-size: 52px;
  }
}
@media only screen and (max-width: 1280px) {
  .title {
    font-size: 30px;
    line-height: 45px;
  }
}