@tailwind base;
@tailwind components;
@tailwind utilities;
html{
  max-width: 100%;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
 
  height: auto;
}
body::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0.589);
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(0, 0, 0);

}
 
body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.493);
  border-radius: 100px;
  height: 12rem;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@media only screen and (max-width: 1279px){
html{
  overflow-x: hidden;
}
body{
  overflow: hidden;
}
body::-webkit-scrollbar {
  width: 0;
 
}
 

}
